@import '~antd/dist/antd.css';

$border-radius: 5px;
$border: solid 1.5px #DEDEDE;

.content {
  display: grid;
  box-sizing: border-box;
  height: 94vh;
  padding: 50px;
  background-color: #F5F5F5;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 8fr;
  grid-template-areas: 
  'title tile'
  'inputs inputs'
  'names info';
  grid-gap: 15px;


  &__title {
    grid-area: title;
    font-size: 2rem;
    color: #000000;
  }
}
