.ant-layout-header {
  display: flex;
  justify-content: left;
  height: 6vh;
  align-items: center;
  font-size: 1.5rem;
  background-color: white;
  color: #000000;
  
  .title {
    font-size: 0.7em;
    font-weight: 600;
    margin-left: 10px;
  }
}