@import '../App.scss';

.content__user-info {
  grid-area: info;
  background: #fff;
  border: $border;
  border-radius: $border-radius;
  color: #5A5A5A;
  font-size: 1.2em;

  &__title {
    display: flex;
    padding-bottom: 8px;
    border-bottom: $border;
    padding: 8px 20px;
    justify-content: space-between;

    .clear {
      margin-left: 10px;
    }
  }

  &__content {
    padding: 20px 20px;

    .no-content {
      display: flex;
      justify-content: center;
    }
  }
}