@import '../App.scss';

.content__user-names {
  grid-area: names;
  background: #fff;
  border: $border;
  border-radius: $border-radius;
  color: #5A5A5A;
  font-size: 1.2em;

  &__title {
    border-bottom: $border;
    padding: 8px 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    height: 100%;

    &__item {
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
      padding: 0px 5px;
      border-radius: 5px;
      cursor: pointer;
      justify-content: space-between;

      &:hover {
        background-color: #e6f7ff;
      }
    }

    .loading-container {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
  }
}