@import '../App.scss';

.content__inputs {
  grid-area: inputs;
  display: flex;
  justify-content: space-between;

  &__search {
    width: 60%;
  
    .input {
      width: 68%;
      margin-right: 15px;
      border-radius: $border-radius;
  
      .ant-input-prefix {
        margin-right: 10px;
      }
    }
  
    Button {
      width: 17%;
      border-radius: $border-radius;
    }
  }

  .button {
    border-radius: $border-radius;
  }
}
