@import '../App.scss';

.button {
  border-radius: $border-radius;
}

.modal {
  &__field {
    margin-bottom: 10px;
    
    &__field__label {
      font-weight: 400;
      margin-bottom: 5px;
      color: #595959;
      font-size: 1em;
    }
  }

  .save-button {
    text-align: center;
  }
}